.cartoon-eye.blinking .sclera {
  animation: squeeze var(--blinking-speed) infinite;
}

.cartoon-eye.blinking .upper-lid {
  --upper-lid-open-Y: calc(50% - var(--sclera-radius-Y) - var(--sclera-radius-Y) + var(--upper-lid-height));
  --upper-lid-closed-Y: calc(50% - var(--sclera-radius-Y)); 
  animation: blink-upper-lid var(--blinking-speed) infinite;
}

.cartoon-eye.blinking .lower-lid {
  animation: blink-lower-lid var(--blinking-speed) infinite;
}

.cartoon-eye.blinking .lens > g {
  animation: move-around 3s infinite;
}

@keyframes blink-upper-lid {
  0%   { y: var(--upper-lid-open-Y); }
  90%  { y: var(--upper-lid-open-Y); animation-timing-function: ease-in; }
  95%  { y: var(--upper-lid-closed-Y); }
  100% { y: var(--upper-lid-open-Y); animation-timing-function: ease-out; }
}

@keyframes blink-lower-lid {
  0%   { y: var(--lower-lid-open); }
  90%  { y: var(--lower-lid-open); animation-timing-function: ease-in; }
  95%  { y: 50%; }
  100% { y: var(--lower-lid-open); animation-timing-function: ease-out; }
}

@keyframes squeeze {
  0%   { transform: scaleY(1);transform-origin: center;  }
  90%  { transform: scaleY(1); transform-origin: center; animation-timing-function: ease-in; }
  95%  { transform: scaleY(0.5); transform-origin: center; }
  100% { transform: scaleY(1); transform-origin: center; animation-timing-function: ease-out; }
}

@keyframes move-around {
  0%   { transform: translate(var(--lens-X), var(--lens-Y)); }
  10%  { transform: translate(20%, 2%); }
  40%  { transform: translate(5%, -2%);  }
  50%  { transform: translate(-2%, -4%); }
  75%  { transform: translate(1%, -5%); }
  75%  { transform: translate(-18%, 5%); }
  100% { transform: translate(var(--lens-X), var(--lens-Y));  }
}
